:host {
  display: flex;
  flex-direction: column;
  .user-info {
    margin-left: auto;
    display: flex;
    align-items: center;
    >button {
      // padding-right: 202px;
      img {
        display: inline-block;
        max-width: 30px;
        max-height: 30px;
        border-radius: 20px;
      }
    }
  }
  .mat-icon-button {
    width: unset!important;
  }
}
