@import '../../config/sass/config';

:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    span.user-name {
        cursor: pointer;
        color: $accent-color;
        &:hover {
            text-decoration: underline;
        }
    }
    .example-card {
        width: 400px;
        margin: 15px;
        border: 1px solid transparent;
        &:hover {
            background: $background-hover-color;
        }
      }
      
      .example-header-image {
        background-image: url($imgUrl + 'user.svg');
        background-size: cover;
      }
}
