<md-card class="example-card" *ngFor="let user of users | async">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Name: {{user?.name}}</md-card-title>
        <md-card-subtitle>Email: {{user?.email}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          User info
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button mdTooltip="Detail View" mdTooltipPosition="above" md-button>DETAILS</button>
        <button md-raised-button (click)="view(user)" mdTooltip="Edit User" mdTooltipPosition="above" md-button>EDIT</button>
      </md-card-actions>
    </md-card>
