:host {
  section {
    padding: 15px;
    max-width: 600px;
    margin: 0 auto;
  }
  .btn-google {
    background-color: #dd4b39;
  }
  .btn-github {
    background-color: #1771A0;
  }
  hr{
    border: 1px solid #494949;
  }
}
