<md-toolbar color="primary">
  <button md-icon-button>
    <i class="material-icons">notifications_active</i>
  </button>
  <div class="app-toolbar">
    <a class="docs-button mat-button" md-button="" routerLink="/tasks" routerLinkActive="active-link" aria-disabled="false" tabindex="0"><span class="mat-button-wrapper">Tasks</span>
        <div class="mat-button-ripple mat-ripple" md-ripple=""></div><div class="mat-button-focus-overlay"></div>
      </a>
    <a class="docs-button mat-button" md-button="" routerLink="/login" aria-disabled="false" routerLinkActive="active-link"tabindex="0"><span class="mat-button-wrapper">Login</span>
        <div class="mat-button-ripple mat-ripple" md-ripple=""></div><div class="mat-button-focus-overlay"></div>
      </a>
      <a class="docs-button mat-button" md-button="" routerLink="/requirements" routerLinkActive="active-link"aria-disabled="false" tabindex="0"><span class="mat-button-wrapper">Requirements</span>
        <div class="mat-button-ripple mat-ripple" md-ripple=""></div><div class="mat-button-focus-overlay"></div>
      </a>
  </div>
  <div flex class="user-info">
    <span>Hello UserName</span>
    <button md-icon-button [mdMenuTriggerFor]="menu" style="padding-right:75px;">
        <span>Settings</span>
        <md-icon>settings</md-icon>
      </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item disabled>
          <md-icon>account-key</md-icon>
          <span>Login</span>
        </button>
      <button md-menu-item>
          <md-icon>info</md-icon>
          <span>Info</span>
        </button>
      <button md-menu-item disabled>
          <md-icon>logout</md-icon>
          <span>Logout</span>
        </button>
    </md-menu>
  </div>
</md-toolbar>