
  
<section>
  <a md-raised-button routerLink=".">My Tasks</a>
  <a md-raised-button color="primary" (click)="openCreateTaskDialog()">Create New Task</a>
</section>

<md-divider style="height:15px;"></md-divider>

<section>
  <md-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPaginateChange($event)">
  </md-paginator>

</section>

<section class="mat-typography">
  <md-card *ngFor="let task of tasks">
    <md-card-title><span>Title: </span>{{task.title}}</md-card-title>
    <md-card-subtitle>Description: {{task.description}}</md-card-subtitle>
    <p>Assigned to: {{task.assignee}}</p>
    <p>Created on: {{task.createdOn * -1 }}</p>
    <p>Creator: {{task.creatorId}}</p>
    <p>Comments: {{task.comments}}</p>
    <div class="task-info">
      <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="showTaskDetail(task.$key)">
          <md-icon>info</md-icon>
          <span>Details</span>
        </button>
        <button md-menu-item (click)="btnDeleteClick(task.$key)">
          <md-icon>delete</md-icon>
          <span>Delete</span>
        </button>
      </md-menu>
    </div>
  </md-card>
</section>
